name: Create and publish a Docker image
on:
  push:
    branches:
      - "master"

jobs:
  build:
    uses: unict-dmi/reusable-workflows/.github/workflows/docker.yml@main
    with:
      repo_ref: ${{ github.repository }}
